@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

*,
html {
  box-sizing: border-box;
}

body {
  font-family: Inter, sans-serif;
  margin-bottom: 0;
  padding-bottom: 0;
  margin-top: 30;
  padding: 0;
  background-color: #0c2c40;
  padding: 20px;
  /* height: 100vh; */
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  /* align-items: center; */
}
